@import '~common/styles/fonts';
@import '~common/styles/variables';
@import '~common/styles/mixins';
@import '~common/styles/extends';

:global {
    @import '~common/styles/normalize';
    @import '~common/styles/root';
    @import '~common/styles/typography';
    @import '~common/styles/links';
    @import '~common/styles/elements';
    @import '~common/styles/forms';
    @import '~common/styles/zindex';
}

.app {
    padding: 2em;
    font-size: 1.5em;
    @include desktop {
        & {
            font-size: 2em;
        }
    }
}
