@import '~common/styles/variables';

:global {
    html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: transparent;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    html,
    body {
        height: 100%;
    }

    body {
        font-size: $baseFontSize;
        font-family: $baseFontFamily;
        color: $textColor;
        background-color: $bodyBackground;
    }
}
