@import '~common/styles/variables';

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.entering,
.entered,
.exiting,
.exited {
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: $linear;
}
