{
    "presets": [["es2015", { "modules": false }], "react", "stage-0"],
    "plugins": [
        "syntax-dynamic-import",
        "transform-decorators-legacy",
        "transform-class-properties",
        [
            "module-resolver",
            {
                "alias": {
                    "actions": "./src/actions",
                    "components": "./src/components",
                    "config": "./src/config",
                    "constants": "./src/constants",
                    "containers": "./src/containers",
                    "reducers": "./src/reducers",
                    "store": "./src/store",
                    "utils": "./src/utils"
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
