{
    "presets": [["es2015", { "modules": false }], "react", "stage-0"],
    "plugins": [
        "syntax-dynamic-import",
        "transform-decorators-legacy",
        "transform-class-properties",
        [
            "react-css-modules",
            {
                "generateScopedName": "[name]__[local]___[hash:base64:5]",
                "filetypes": {
                    ".scss": {
                        "syntax": "postcss-scss"
                    }
                }
            }
        ],
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "actions": "actions",
                    "components": "components",
                    "config": "config",
                    "constants": "constants",
                    "containers": "containers",
                    "reducers": "reducers",
                    "store": "store",
                    "utils": "utils"
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
