@import '~common/style-utils/breakpoints';
@import '~common/style-utils/colors';

.root {
    composes: _body from global;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    line-height: normal;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    text-decoration: none;
    font-family: sans-serif;
    > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

:disabled {
    pointer-events: none;
    opacity: 0.4;
}

.body {
    color: color(black);
    &:hover {
        color: color(gray, light);
    }
}

.primary,
.secondary {
    width: 100%;
    min-width: 12rem;
}

.primary {
    padding: 1rem 1.4rem;
    color: color(white);
    background-color: color(blue);
    border-radius: 0.4rem;
    &:hover {
        background-color: color(blue, light);
        color: color(white);
    }
}

.secondary {
    padding: 0.8rem 1.2rem;
    background-color: color(white);
    color: color(gray);
    border: 0.2rem solid color(gray);
    border-radius: 0.4rem;
    &:hover {
        background-color: color(gray);
        color: color(white);
    }
}

@include for-tablet-portrait-up {
    .primary,
    .secondary {
        width: auto;
        min-width: 16rem;
    }
}
