@import '~common/styles/variables';

%all-heading-sizes {
    font-weight: $headingsFontWeight;
    font-family: $headingsFontFamily;
    line-height: 1;
    color: $headingsColor;
    text-rendering: optimizelegibility;
}

.heading1 {
    @extend %all-heading-sizes;
    font-size: 2.4em;
}

.heading2 {
    @extend %all-heading-sizes;
    font-size: 2em;
}

.heading3 {
    @extend %all-heading-sizes;
    font-size: 1.8em;
}

.heading4 {
    @extend %all-heading-sizes;
    font-size: 1.6em;
}

.heading5 {
    @extend %all-heading-sizes;
    font-size: 1.4em;
}

.heading6 {
    @extend %all-heading-sizes;
    font-size: 1.2em;
}
