//
// Typography
// ---------------------------

// Body text
// ----------
p,
li {
    font-size: 1.6em;
    line-height: 1.4;
}

p {
    margin: 0 0 1em;
    text-align: justify;
}

// Emphasis & Misc
// -----------------
em {
    font-style: italic;
}

strong {
    font-weight: $bold;
}
