@import '~/common/styles/mixins';

//
// Utilities
// --------------------------------------------------

// Toggling
.hide,
.hidden {
    display: none;
}
.show {
    display: block;
}

// Visibility
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

// No pointer events
.no-pointer-events {
    pointer-events: none;
}
