// Font faces
// -------------------------

$sans: sans-serif !default;
$serif: serif !default;

// Font weights
// -------------------------

$thin: 100 !default;
$light: 300 !default;
$regular: 400 !default;
$medium: 500 !default;
$bold: 600 !default;
$heavy: 900 !default;

// Font sizings
// -------------------------

$baseFontSize: 10px !default;
$baseFontFamily: $sans !default;
$baseLineHeight: 1.2 !default;
