@import '~common/style-utils/breakpoints';
@import '~common/style-utils/colors';

.root {
}

.main {
    max-width: $desktop;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.footer {
    width: 100%;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
    background-color: color(white);
}

@include for-tablet-portrait-up {
    .main {
        padding: 4rem 6rem;
    }
}

@include for-desktop-up {
    .main {
        padding: 8rem;
    }
}
