// Elements
// --------------------------

// Type selector definitions only!
// Do not define classes, ids, etc

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

fieldset {
    margin: 0;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 1rem 0;
}

img {
    max-width: 100%;
    height: auto;
    border-width: 0;
    vertical-align: middle;
}

p {
    line-height: 1.4;
    margin: 0 0 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
