@import '~common/style-utils/breakpoints';
@import '~common/style-utils/colors';
@import '~common/style-utils/type';

:global {
    // Note:
    // The following classes need to be :global in order to compose them
    // into our component-based style definitions

    //
    // Heading styles
    // -------------------------

    ._headline {
        font-size: 4rem;
        line-height: 1.2;
    }

    ._subheadline {
        font-size: 2.4rem;
        line-height: 1.3;
    }

    //
    // Body styles
    // -------------------------

    ._body {
        font-size: 1.4rem;
        line-height: 1.5;
        color: color(gray, light);
        @include for-desktop-up {
            font-size: 1.6rem;
        }
    }
}
