@import '~assets/style-utils/breakpoints';

.root {
    display: block;
}

.columns {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    column-count: 1;
    column-gap: 4rem;
    > * {
        break-inside: avoid;
    }
}

.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    margin: 3rem 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@include for-tablet-portrait-up {
    .columns {
        padding: 4rem 6rem;
        column-count: 2;
    }
}

@include for-desktop-up {
    .columns {
        padding-right: 10rem;
        padding-left: 10rem;
        column-count: 3;
    }
}
