@import '~common/style-utils/colors';

.root {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

.logo {
    padding: 0.5em;
    border: 0.1rem solid color(gray, light);
    border-radius: 0.4rem;
    color: color(gray);
}

.link {
    padding: 0.5em;
    text-decoration: none;
}

.selected {
    color: color(gray);
}
