@import '~common/style-utils/colors';

.root {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.logo {
    padding: 1rem 1.4rem;
    border: 0.1rem solid color(gray, light);
    border-radius: 0.4rem;
    color: color(gray);
}

.link {
    padding: 0.7em 0.9rem;
    text-decoration: none;
}

.selected {
    color: color(gray);
}
