@import '~assets/style-utils/colors';

.root {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.link {
    padding: 0.5em;
    text-decoration: none;
}

.selected {
    color: color(gray);
}
